[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
pillow = "*"
six = "==1.16.0"
django-extensions = "*"
graphviz = "*"
pydotplus = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
