{% extends 'users/base.html' %} {% block content %}
<!-- Recommendation of worker Starts here -->
<div class="container my-2">
  <h1 style="font-size: 32px" class="hire mt-5">You May Like To Hire</h1>
  <div class="row">
    {% for worker in workers %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img
          style="height: 150px"
          src="{{ worker.profile_picture.url }}"
          class="card-img-top img-fluid"
          alt="{{ worker.user.username }}"
        />
        <div class="card-body">
          <h5 class="card-title text-primary">{{ worker.user.username }}</h5>
          <p class="card-text"><strong>Skills:</strong> {{ worker.skills }}</p>
          <p class="card-text">
            <strong>Hourly Rate:</strong> Rs. {{ worker.hourly_rate }}
          </p>
          <p class="card-text">
            <strong>Rating:</strong> {{ worker.average_rating }}
          </p>
          <a
            class="text-success"
            href="{% url 'users:worker_profile' worker.pk %}"
            >Worker Profile</a
          >
        </div>
      </div>
    </div>
    {% empty %}
    <p>No workers available.</p>
    {% endfor %}
  </div>
</div>
<!-- Recommendation of worker Ends here -->
{% endblock %}
